<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to SivaJyothi's Web Server</title>
</head>
<body>
    <h1>Welcome to {{ ansible_hostname }}'s Web Server</h1>
    <p>This server is running NGINX.</p>
</body>
</html>

